
.card-body{
  padding: 0.2rem !important;
}

.card-columns{
  padding: 5px;
  grid-column-gap:0.25rem;
  // border: #6C757D 1px solid;
  // border-radius: .4rem;
  // margin: 5px;
  .card.card-item{
    // background-color: red;
    // background-color: 
    // width: 5rem !important;
    height:  3rem !important;   
    // padding: 5px;
    // margin: 5px;
    // border: none;
    .badge{
      position:absolute;
      bottom: 0px;
      right: 0px;
      border-radius: 0.08rem;
    }
  }
  .card.card-item.active{
    border:#6C757D 3px solid;
    transition: 0.1s;
  }
}

